.icon
{
    background: rgb(254, 254, 254);
    border-radius: 6px;
    padding: 2px;
}
.icon:hover
{
    background: rgb(255, 72, 72);
    border-radius: 6px;
    padding: 3px;
    box-shadow: 0 3px 5px 7px rgba(251, 6, 6, 0.4);
}

.nav-link{
    width: 120px;
	text-decoration: none;
	display: inline-block;
	margin: 0 10px;
	padding: 15px 0;
    font-weight: 600;
    	position: relative;
	z-index: 1;
	transition: color 0.2s;
	border-radius: 10px;
}
.nav-link:hover
{
    border: 1px #ff0000;
    text-align: center;
    border-radius: 10px;
    text-shadow: 0 3px 3px solid white;
    box-shadow: 0 3px 15px 3px #ff0000;
    background-color: #ff0000;
    color: aliceblue;
}